.btn.btn-link {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0;
  letter-spacing: 3.5px;
  position: relative;
  transition: color 0.3s ease;
}

.btn.btn-link:hover {
  color: #333;
}

.btn.btn-link {
  text-decoration: none;
}

.btn.btn-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.btn.btn-link:hover::after {
  transform: scaleX(1);
}
