@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.login-button {
  background-color: black !important;
  color: white;
  width: 25%;
  border: none !important;
}

.login-button:hover {
  background-color: rgb(26, 25, 25);
  text-decoration: underline;
}

.login-link {
  text-decoration: none !important;
  color: black !important;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
  padding: 0 !important;
  letter-spacing: 3.5px !important;
}

.login-link:hover {
  text-decoration: underline !important;
}
