/* Sign up link */
.button {
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  letter-spacing: 2px !important;
  height: 30px !important;
  font-family: "Montserrat", sans-serif !important;
  /* margin-right: 80px !important; */
  margin-bottom: 10px;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form .form-control {
  margin-bottom: 10px;
  width: 350px;
  margin-left: 5px;
}

.form-control:focus {
  border: none !important;
  outline: none !important;
  box-shadow: 0 0 1px rgb(0, 0, 0) !important;
}
.form .form-label {
  font-weight: bold;
}
.sign-up.btn.btn-primary {
  margin-left: 80px;
}
.btn-primary {
  width: 50%;
  background-color: black !important;
  border: none !important;
  border-radius: 0px !important;
  width: 50%;
  background-color: black;
}

.btn-primary:hover {
  background-color: rgb(26, 25, 25) !important;
}
.btn-primary:active {
  background-color: rgb(26, 25, 25) !important;
}

.login-close-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.login-button.btn.btn-primary,
.close-button.btn.btn-primary {
  width: 40%;
}
