.button {
  font-size: 25px !important;
  text-decoration: none !important;
  color: black !important;
  transition: color 0.3s ease !important;
  padding: 0 !important;
  margin: 0 !important;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form .form-control {
  margin-bottom: 10px;
}

.form .form-label {
  font-weight: bold;
}

.form .btn-primary {
  width: 50%;
  background-color: black;
  border: none;
  display: block;
  margin: 0 auto;
}

.form .btn-primary {
  width: 50%;
  background-color: black;
  border: none;
  display: block;
  margin: 0 auto;
}

.form .btn-primary:hover {
  background-color: rgb(26, 25, 25);
}
.form .btn-primary:active {
  background-color: rgb(26, 25, 25) !important;
}
