.checkout-button {
  width: 100% !important;
  background-color: #000000 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}
.refresh-button {
  background-color: white !important;
  color: #000000 !important;
  font-size: 18px !important;
  border: none !important;
}

.refresh-button-container {
  display: flex;
  justify-content: center;
}
.total {
  display: flex;
  justify-content: center;
  text-align: center;
}
