/* First header */

.headerPrimary {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-220%, -50%);
  z-index: 100;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 590px;
}

.headerPrimary h2 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  letter-spacing: 10px;
  height: 110px;
  width: 800px;
  font-weight: 300;
  margin-bottom: 0;
}

.headerPrimary h4 {
  font-size: 4rem;
  font-weight: 300;
  height: 200px;
  letter-spacing: 10px;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content {
  position: relative;
  margin-bottom: 8vh;
}

/* Second header  */
.headerSecondary {
  height: 50vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 8vh;
}
.Image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  object-fit: contain;
  z-index: -100;
  border: 1px solid rgba(0, 0, 0, 0.288);
}

.headerSecondary h2 {
  font-size: 2rem;
  color: black;
  text-align: center;
  margin-top: 22vh;
  margin-left: -30%;
  height: 50px;
  font-weight: 600;
}

.headerSecondary h4 {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  margin-top: 1vh;
  margin-left: -30%;
  font-weight: 600;
}

/* Video */

.Video {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -100;
}

.Video video {
  width: 100%;
  height: auto;
}

.video-container {
  position: relative;
}

.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(213, 212, 216, 0.116),
    rgba(10, 10, 10, 0.808)
  );
  z-index: 2;
}

@media (max-width: 768px) {
  .headerSecondary h2 {
    font-size: 1.5rem;
    margin-top: 5vh;
    margin-left: 0;
  }

  .headerSecondary h4 {
    font-size: 1.2rem;
    margin-top: 1vh;
    margin-left: 0;
  }
}
