.headerPrimary {
  background-color: aqua;
  height: 65vh;
}

.headerSecondary {
  background-color: rgb(169, 169, 180);
  height: 60vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 8vh;
}
