/* Header */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

h1 {
  display: flex;
  justify-content: space-evenly;
  padding: 0.2rem;
  font-size: 3rem !important;
  font-weight: lighter;
  letter-spacing: 0px;
  font-family: "Playfair Display", serif;
}

.bag-icon,
.search-icon {
  font-size: 30px;
  position: relative;
  top: 20px;
  cursor: pointer;
}

.menu-icon {
  display: none;
}
.company-title {
  height: 70px;
}
.navbar-header {
  padding-top: 1vh;
}
.navbar-header a {
  text-decoration: none;
}

a:visited {
  color: inherit !important;
}
/* Navbar */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vh;
}

nav ul {
  display: flex;
  list-style: none;
}
nav a {
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 3.5px;
  color: #000; /* Add a default color */
  position: relative; /* Add this to position the pseudo-element correctly */
  transition: color 0.3s ease; /* Add a transition to the color */
}

nav a::after {
  content: "";
  position: absolute;
  width: 65%;
  transform: scaleX(0);
  height: 1.2px;
  bottom: 0;
  left: 15%;
  background-color: #000; /* Change this to the color of your underline */
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

nav a:hover::after {
  transform: scaleX(1); /* This will make the underline appear on hover */
}
.login-modal-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .company-title {
    display: flex;
  }

  .navbar-header a {
    height: 40px;
  }

  h1 {
    align-items: center;
    font-size: 2rem !important;
    color: aqua;
    display: flex;
  }

  .bag-icon,
  .search-icon {
    font-size: 1.5rem;
    position: relative;
    top: 0px;
    cursor: pointer;
  }
  nav,
  .search-icon {
    display: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 1.7rem;
  }
}
