/* Header */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

h1 {
  display: flex;
  justify-content: space-evenly;
  padding: 0.2rem;
  font-size: 3rem !important;
  font-weight: lighter;
  letter-spacing: 0px;
  font-family: "Playfair Display", serif;
}

.bag-icon,
.search-icon {
  font-size: 30px;
  position: relative;
  top: 20px;
  cursor: pointer;
}

.company-title {
  height: 70px;
}
.navbar-header {
  padding-top: 1vh;
}
.navbar-header a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
/* Navbar */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vh;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
}

nav a:hover {
  text-decoration: underline;
}

.login-modal-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
