/* .quickpage {
  background-color: aqua;
  display: flex;
}*/

/* .quickpage-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  background-color: red;
  margin-left: 30px;
  margin-right: 30px;
} */

@media (max-width: 650px) {
  .quickpage-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170vh;
  }
}
