/* .quickpage {
  background-color: rgb(169, 169, 180);
  display: flex;
  justify-content: center;
  margin-left: 4vw;
  height: 20vh;
  width: 20vw;
}

.quickpage-container {
  display: flex;
  align-items: center;
  margin-bottom: 8vh;
}

@media (max-width: 600px) {
  .quickpage {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
  }

  .quickpage-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150vh;
  }
} */

.quickpage {
  background-color: rgb(169, 169, 180);
  display: flex;
  justify-content: center;
  margin-left: 4vw;
  height: 25vh;
  width: 20vw;
}

.quickpage-container {
  display: flex;
  align-items: center;
  align-items: flex-end;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.quickpage h3 {
  display: flex;
  align-items: flex-end;
}

.quickpage p {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 650px) {
  .quickpage {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    margin-left: 0;
  }

  .quickpage-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150vh;
  }
}
