.shop-option {
  margin-top: 8vh;
  margin-bottom: 8vh;
  width: 35vw;
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
}
.shop-option-category {
  background-color: rgb(166, 174, 184);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.category-title {
  font-size: 2rem;
  margin-bottom: 4vh;
}

@media (max-width: 650px) {
  .shop-option {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50vh;
  }

  .shop-option-category {
    width: 100%;
  }
}
