.sidebar {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background-color: #f8f9fa;
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.show {
  right: 0;
}

.sidebar h2 {
  height: 40px;
  text-align: center;
}
