.shop-headers {
  text-align: center;
  margin: 40px 0;
  font-size: 2rem;
  color: #333;
}

.shop-headers h2 {
  letter-spacing: 5px;
  font-weight: 400;
  margin-bottom: 50px;
}

.bags {
  letter-spacing: 24.5px;
  font-weight: 200;
}
.accessories {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 8px;
}
h3 {
  height: 60px;
  font-size: 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.shop-card:hover {
  box-shadow: 0 8px 12px 0 hsla(0, 0%, 0%, 0.2);
}
