.card-body {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  width: 360px;
}
.card-text,
.price,
.add-to-cart {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 3.5px;
  width: 100%;
}

.price,
.add-to-cart {
  font-weight: 400;
}

.card-title {
  height: 45px;
  font-weight: 400;
  letter-spacing: 5px;
}

.card-card {
  background-color: #f6f8f8b4;
  width: 380px !important;
  display: flex;
  align-items: center;
  border: none;
  /* 
  border: 1px solid rgb(236, 236, 236); */ /* 
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); */
  margin: 20px 20px 50px 20px;
  transition: box-shadow 0.45s ease, border-color 0.45s ease;
  border-radius: 10px;
}

.card-card:hover {
  box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.199);
  border-color: rgb(216, 216, 216);
}
