/* Shop Women / Shop Men */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body,
html {
  font: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
}

.link-to-shop {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
  /* Font styling */
  font-size: 2.5rem;
  letter-spacing: 4px;
  position: relative;
  font: "Montserrat", sans-serif;
  font-weight: 200;
}

.link-to-shop::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.4s ease;
}

.link-to-shop:hover::after {
  width: 50%;
}

.link-to-shop:visited {
  color: #000000;
}

.link-to-shop:visited {
  color: #000000;
}

/* First paragraph */
.introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 8vh;
  width: 100%;
}

.introduction-p {
  padding-left: 250px;
  padding-right: 250px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 100;
}

/* Three image containers */
.second-header-text-container {
  width: 40%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -50%;
  right: 0;
  margin: auto;
}

.second-header-text-container-2 {
  width: 40%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: -50%;
  margin: auto;
}

.text-container {
  margin-top: 100px;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -200;
  background-image: url("/images/rings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.288);
}

.text-container-2 {
  margin-top: 100px;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -200;
  background-image: url("/images/white-handbag.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.288);
}

/* Services */

.what-we-offer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10vh;
  padding-top: 10vh;
  height: 320px;
}

.what-we-offer h4 {
  font-size: 2.5rem;
  font-weight: 100;
}

.what-we-offer p {
  font-size: 1.25rem;
  font-weight: 100;
}

.quickpage-text {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 8vh;
  text-align: center;
  width: 100%;
}

.quickpage-text p {
  font-size: 1.25rem;
  font-weight: 100;
}

.quickpage-text h4 {
  font-size: 1.55rem;
  font-weight: 300;
}

.quickpage-container {
  display: flex;
  justify-content: space-evenly;
}
