@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Video */

.video {
  width: 90%;
  height: auto;
  border: 2px solid black;
}

.video-container {
  display: flex;
  justify-content: center;
  /* height: auto; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;

  position: relative;
}

.video-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.video-text-2 {
  display: none;
}

.video-text h2 {
  font-size: 4rem;
  height: 20vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.97);
  letter-spacing: 10px;
}

.video-text p {
  font-size: 1.7rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.97);
  letter-spacing: 10px;
}

.video-container {
  position: relative;
}

.link-to-shop-container {
  display: flex;
}

.link-to-shop-container-women {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    url("https://i.imgur.com/pOUYOGq.jpeg");
  height: 700px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.link-to-shop-container-men {
  /* background-image: url("https://img.freepik.com/free-photo/portrait-fashionable-boy-against-blue-wall_23-2148184863.jpg?t=st=1717257801~exp=1717261401~hmac=529d798167330d362c1796754820324ce43c499474cd01f906e196f98b52ec49&w=740");
 */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://i.imgur.com/zYt9b2r.jpeg");
  height: 700px;
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
}

.link-to-shop {
  padding: 0px 15px;
  margin: 0px 90px;
  color: white !important;
  background-color: #ffffff00;
  text-decoration: none;
  transition: all 0.3s ease;
  /* Font styling */
  font-size: 2rem;
  letter-spacing: 18px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border: 2px solid #ffffff;
}

a.link-to-shop {
  color: white;
}

/* First paragraph */
.introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  width: 100%;
}
.introduction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.introduction-header {
  margin-top: 5vh;
  font-size: 2.7rem;
  overflow-y: hidden;
  font-weight: 600;
  letter-spacing: 8px;
}
.introduction-p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 8vh;
}

.image-container {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-evenly;
}

.sunglasses-model {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("https://i.imgur.com/PnZnyrY.jpeg");
  width: 500px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sunglasses-model h4,
.bag-model h4 {
  color: white;
  font-size: 3.5rem;
  font-weight: 200;
  letter-spacing: 8px;
  width: 400px;
  height: 150px;
  margin-top: 140px;
}

.bag-model h4 {
  margin-top: 90px;
  height: 250px;
}

.bag-model {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("https://i.imgur.com/0jpgZ8i.jpeg");
  width: 700px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Services */

.services {
  width: 100%;
}
.what-we-offer {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2vh;
  border-top: 1px solid rgb(163, 163, 163);
}

.what-we-offer h4 {
  margin-top: 8vh;
  font-size: 2rem;
  font-weight: 400;
  height: 5vh;
  width: 100%;
  text-align: center;
  font-weight: 400;
  letter-spacing: 8px;

  overflow-y: hidden;
}

.what-we-offer p {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 2px;
  padding-left: 350px;
  padding-right: 350px;
  text-align: center;
  margin-bottom: 4vh;
}

/* Quickpage */
.quickpage-text {
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
  text-align: center;
  width: 100%;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 8vh;
}

.services h4 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 2px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
}

.services p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.quickpage-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

/* 1200 */
@media (max-width: 1200px) {
  .link-to-shop-container-women,
  .link-to-shop-container-men {
    width: 100%;
    height: 350px;
  }

  .video {
    width: 100%;
    border: none;
  }
  .video-container {
    height: auto;
    width: 100%;
  }
  .video-text {
    display: none;
  }

  .video-text-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .video-text-2 h2 {
    height: 40px;
  }
}

/* 1500 */

@media (max-width: 1500px) {
  .introduction-container {
    text-align: center;
  }

  .introduction-header {
    font-size: 2rem;
  }
  .introduction-p {
    font-size: 1rem;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1200px;
  }
  .sunglasses-model,
  .bag-model {
    margin: 10px 0;
    width: 70%;
    height: 80vh;
  }
}

@media (max-width: 790px) {
  /* Links */

  .sunglasses-model,
  .bag-model {
    margin: 10px 0;
    width: 90%;
  }

  .bag-model h4 {
    height: 200px;
  }
  .link-to-shop {
    width: 65vw;
    font-size: 1.5rem;
  }

  .link-to-shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link-to-shop-container-women,
  .link-to-shop-container-men {
    flex-direction: column;
    margin: 10px 0;
  }

  .what-we-offer h4 {
    font-size: 2rem;
    text-align: center;
  }

  .what-we-offer p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .what-we-offer p,
  .quickpage-text p,
  .quickpage-text h4 {
    font-size: 1rem;
  }
}
